<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServt</servlet-name>
        <servlet-class>LoginServt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertServlet</servlet-name>
        <servlet-class>insertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cusRegServlet</servlet-name>
        <servlet-class>cusRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverServlet</servlet-name>
        <servlet-class>driverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicleServlet</servlet-name>
        <servlet-class>vehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicleReservServlet</servlet-name>
        <servlet-class>vehicleReservServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginDriver</servlet-name>
        <servlet-class>loginDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdminServlet</servlet-name>
        <servlet-class>loginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkBookingServlet</servlet-name>
        <servlet-class>checkBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVehicleImageServlet</servlet-name>
        <servlet-class>addVehicleImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDriverImageServlet</servlet-name>
        <servlet-class>addDriverImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkBooking</servlet-name>
        <servlet-class>checkBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelBooking</servlet-name>
        <servlet-class>cancelBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServt</servlet-name>
        <url-pattern>/LoginServt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertServlet</servlet-name>
        <url-pattern>/insertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cusRegServlet</servlet-name>
        <url-pattern>/cusRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverServlet</servlet-name>
        <url-pattern>/driverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicleServlet</servlet-name>
        <url-pattern>/vehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicleReservServlet</servlet-name>
        <url-pattern>/vehicleReservServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginDriver</servlet-name>
        <url-pattern>/loginDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdminServlet</servlet-name>
        <url-pattern>/loginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkBookingServlet</servlet-name>
        <url-pattern>/checkBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVehicleImageServlet</servlet-name>
        <url-pattern>/addVehicleImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDriverImageServlet</servlet-name>
        <url-pattern>/addDriverImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkBooking</servlet-name>
        <url-pattern>/checkBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelBooking</servlet-name>
        <url-pattern>/cancelBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
